<div class="container mx-auto p-4 w-[625px]">
  <%= image_tag "pet_care_30a.png", :alt => "Pet Care 30A - Pet Sitter - Book Us Now!", :id => "site_logo" %>
  <p class="text-center">
    At Pet Care 30A, we dedicate ourselves to providing the best care for your pets. Whether you have a dog, several cats, or both - we are here to help! We specialize in pet sitting, dog walking, check-ins, feedings, medication administration, and more! We have a passion for animals and treat your pets like a member of our own family!
  </p>
</div>
